/* universal decliration of the font used as well as the defualt font color of gray*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

h1 {
    color: rgb(25, 120, 175);
    

}

h2, h3 {
    color: rgb(175, 215, 230);
}

