/* universal decliration of the font used as well as the defualt font color of gray*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

h1 {
    color: rgb(25, 120, 175);
    

}

h2, h3 {
    color: rgb(175, 215, 230);
}


/*Flynn's Application Page*/
fieldset {
    border-color: rgb(175, 215, 230);
    border-style: solid;
    background-color: #acacac ;
    color: black;
  }

fieldset:hover {
    background-color: rgb(147, 170, 179);
    border-color: black;
}

fieldset:hover label {
    color: white;
}

fieldset:hover legend {
    color: black;
}

legend {
    color: rgb(25, 120, 175);
    padding: 2px;
    float: left;
    text-decoration: underline;
}

label {
    float: left;
}
 
.buttons {
    background-color: #acacac;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.buttons:hover {
    color: rgb(175, 215, 230);
}
.text-group {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 10px;
    column-gap: 10px;
  }
  
  .text-group label {
    color: black;
    text-align: left;
    align-self: center;
  }
  
  .text-group input {
    width: 30%;
  }

  .text-group select {
    width: 30.8%;
    color: black;
    cursor: pointer;
  }
  
  .text-group option {
    text-align: left;
    align-self: center;
  }

.radio-group {
    display: flex;
    gap: 4px; /* space between buttons */
  }
  
  .radio-label {
    color: black;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .radio-label-2 {
    color: black;
    text-align: left;
    align-self: center;
    width: 10%;
  }
  
  .radio-option {
    cursor: pointer;
    accent-color:  rgb(175, 215, 230);
  }

  .input-check label {
    color: black;
    text-align: left;
    align-self: center;
    width: 22%;
    clear: both;
    display: inline-block;
    overflow: scroll;
    white-space: nowrap;
  }

.input-check input {
    align-content: center;
    accent-color:  rgb(175, 215, 230);
    cursor: pointer;
}
/*Benjamin's About Page*/

/* Flex: Refers to the layout mode that arranges elements in a row or column with alignment and spacing features*/
/* Margin: Refers to Space outside an element, between it and other elements */
/* Padding: Refers to Space inside an element, between its content and border */
/* Gap: refers to space between items in a flex or grid container*/


/* Universal Header (USE THIS GUYS)*/
.site-header {
    display: flex;
    align-items: center; /*Vertically centers items within the header*/
    justify-content: space-between; /*pushes to left and right edges with space between them*/
    padding: 10px 20px; /*Adds space inside the header 10px to top/bot 20px to L/R*/
    background-color: #444;
    border: 2px solid black;
}

/* Logo title INSIDE THE HEADER*/
.logo-title {
    display: flex; /*places logo and title next to eachother*/
    align-items: center; /*aligns them centred vertically*/
    gap: 5px; /*adds a gap between image and title*/
}

/* The actual logo image INSIDE THE HEADER*/
.logo-image { /*sets image size and keeps aspect ratio intact without cropping*/
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.nav-links { /* sets nav links in a row with 20px inbetween*/
    display: flex;
    gap: 20px;
}

.nav-links a { /* makes nav links white and removes the underline*/
    color: white;
    text-decoration: none;
}

.nav-links a:hover { /*underline on hover*/
    color: rgb(175, 215, 230);
    text-decoration: underline;
}

.main-content {/*Top bot, right left, padding to main*/
    padding: 30px 40px;
}

.info-section { /*Side by side with space + space betwen and space below*/
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;
}

.single-box { 
    /*light grey flex box with corners, padding and border*/
    display: flex;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 


    justify-content: start; /* places the element at the start / left */
    gap: 40px; /* adds space between sections */
    max-width: 900px; /* set a max width for the entire box, this is for large screens*/
    margin: auto; /* center the box automatically */
    margin-bottom: 40px; /* Add a gap between the single box and image*/
}

.hidden-box {
    display: flex;
    gap: 20px;
    
}

.leftbox { 
    /*light grey flex box with corners, padding and border*/
    width: 25%;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 
    margin-bottom: 40px;
}

.rightbox { 
    /*light grey flex box with corners, padding and border*/
    width: 75%;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.image-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.id-section {
    border:1px solid #333;
}

.caption-center {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
    font-size: 1rem;
    color: #333;
}

.caption-right {
    text-align: right;
    font-size: 0.9rem;
    color: #333;
    margin-top: 4px;
}

.actual-image {
    float: right;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 2px solid #333 ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
}

.grid-item {
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/*This is specific semantic tags inside the grid-item elements*/
.grid-item h3 {
    margin: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #333;
}

.grid-item p {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 5px;
}

.table {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 150px 100px;
}

.table-box { 
    /*light grey flex box with corners, padding and border*/
    display: flex;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;

    padding: 50px;
    justify-content: start; /* places the element at the start / left */
    max-width: 900px; /* set a max width for the entire box, this is for large screens*/
    margin: auto; /* center the box automatically */
    margin-bottom: 40px; /* Add a gap between the single box and image*/
}

/* background transition */
.table tr {
    background-color: rgb(175, 215, 230);
    transition: background-color 0.3s ease;
}

.ben-row:hover {
    background-color: #8e43ff;
}

.connor-row:hover {
    background-color: #b9b9ff;

}

.darcy-row:hover {
    background-color: #00bfff;
}

.flynn-row:hover {
    background-color: #572325;
}

.ben-row:hover td {
    color: white;
}

.connor-row:hover td {
    color: black;
}

.darcy-row:hover td {
    color: black;
}

.flynn-row:hover td {
    color: white;
}

.big-text {
    font-size: 3em;
}
/* Connor's Jobs Page */


.jobs-tiles {
    display: grid;
    grid-template-columns: auto auto;
}

.jobs-body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.jobs-descriptions {
    background-color: #acacac;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.15s linear;
}

/* The code below adds color transition effects when you hover over the job descriptor tiles */

.jobs-descriptions p {
    transition: color 0.15s linear;
}

.jobs-descriptions li {
    transition: color 0.15s linear;
}

.jobs-descriptions:hover {
    background-color: rgb(25, 120, 175);
    cursor: pointer;    
}

.jobs-descriptions:hover p {
    color: white;
}

.jobs-descriptions:hover li {
    color:white;
}

.home-box{
    background-color: #acacac;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 5px;
}

.home-container{
    display: flex;
}

.home-images{
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    
}
.home-about{
    background-image: url(images/group.png);
}

.home-jobs{
    background-image: url(images/home-jobs.jpg);/*Photo by headway on unisplash*/
    background-position: 100%;
}
.home-application{
    background-image: url(images/home-application.jpg);/*Photo by Leon Dewiw on Unsplash*/
    background-position: 100%;
}
      
aside {
    float: right;
    border: 1px solid grey;
    border-radius: 2pt;
    width: 25%;
    padding: 10pt;
    margin: 10pt;
    background-color: rgb(175, 215, 230);
}

aside h3 {
    font-size: 24pt;
    color: black;
}

#cybit {
    background-color: white;  
}

#cybit textarea {
    font-size: 24pt;
    border: none;
}

#cybit h4 {
    color: red;
}

.site-footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    border-top: 2px solid black;
    font-size: 10pt;
    width: 100%;
}

.site-footer p {
    color: white;
}

.site-footer a {
    color: white;
}