/* universal decliration of the font used as well as the defualt font color of gray*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

h1 {
    color: rgb(25, 120, 175);
    
    

}

h2, h3 h4 {
    color: rgb(175, 215, 230);
    
}


/*Flynn's Application Page*/

/* any text to the left of a pair of {} means that it is in refrence to a piece of code in the html documents*/

fieldset { 
    border-color: rgb(175, 215, 230); /* make the color of the border that specified rgb value*/
    border-style: solid; /* make the border a solid color */
    background-color: #acacac ; /* make the background color of the fieldset ... */
    color: black; /* make the font color black */
    border-radius: 15px; /* make the edges rounded */
  }

fieldset:hover { /* when hovering over a fieldset change he background and border color */
    background-color: rgb(147, 170, 179);
    border-color: black;
}

fieldset:hover label { /* when hovering over a fieldset make the labels font color white*/
    color: white;
}

fieldset:hover p { /* when hovering over a fieldset make the paragraphs font color white*/
    color: white;
}

fieldset:hover legend { /* when hovering over the fieldset make the legends font color black*/
    color: black; 
}

legend { /* general rule for all legends inside of fieldsets */
    color: rgb(25, 120, 175); /* default font color */
    padding: 2px; /* add space around it */
    float: left; /* move it to the left side of the area */
    text-decoration: underline; /* make the text underlined */
    cursor: default; /* when hovering over it make the cursor the default cursor instead of the text cursor for UX reasons */
}

label { /* move labels to the left side of the page */
    float: left; 
}
 
.buttons { /* the . signifies that this is a class which can be called upon in the html documents */
    background-color: #acacac;
    color: black;
    border: double; /* make a  border on the buttons*/
    border-width: 1px; /* make the border thinner */
    padding: 10px 20px;
    border-radius: 15px; /* make the edges rounded */
    cursor: pointer;

}

.buttons:hover {
    color: rgb(175, 215, 230); /* chage the font color when the user hovers over the buttons */
}
.text-group {
    display: grid; /* make the class elements display as a grid*/
    grid-template-columns: 120px 1fr; /*these are the set values of the grid */
    row-gap: 10px; /* space both the rows and collumn's by 10 pixels*/
    column-gap: 10px;
  }
  
  .text-group label {
    color: black;
    text-align: left; /* move all text to the left */
    align-self: center; /* allight elements to the centre*/
  }
  
  .text-group input {
    width: 30%; /*make it 30% of the width of the row on the page */
  }

  .text-group select {
    width: 30.8%;
    color: black;
    cursor: pointer;
  }
  
  .text-group option {
    text-align: left;
    align-self: center;
  }

.text-group select {
    border-radius: 2px;
    border-width: 0px;
}

.radio-group {
    display: flex; /* allow the elements to be flexible in their positioning on the page */
    gap: 4px; /* space between buttons of 4 pixels */
  }
  
  .radio-group p {
    color: black;
    text-align: left;
    align-self: center;
    width: 10%;
  }

  .radio-label {
    color: black;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .radio-option {
    cursor: pointer;
    accent-color:  rgb(175, 215, 230); /* make the color of the radio buttons to the set rgb value*/
  }
  .input-check label {
    color: black;
    text-align: left;
    align-self: center;
    width: 22%;
    clear: both; /* makes sure both sides of the elements are empty */
    display: inline-block; /* show them inline with one another and blocked */ 
    overflow: scroll; /* if there is spare text that cannot be showed on the whole page due to viewing size allow the user to scroll through the text*/
    white-space: nowrap; /*dont wrap the white space on the row */
    font-size: smaller;
  }

.input-check input {
    align-content: center; /* move the content to the centre */
    accent-color:  rgb(175, 215, 230);
    cursor: pointer;
}

.input-check h4 {
    color: rgb(175, 215, 230);
    cursor: default;
}

.input-check ::placeholder  {
    font-size: x-small ; /*for placeholder tags in the input-check class, make the font size extra small */
}
/*Benjamin's About Page*/

/* Flex: Refers to the layout mode that arranges elements in a row or column with alignment and spacing features*/
/* Margin: Refers to Space outside an element, between it and other elements */
/* Padding: Refers to Space inside an element, between its content and border */
/* Gap: refers to space between items in a flex or grid container*/


/* Universal Header (USE THIS GUYS)*/
.site-header {
    display: flex;
    align-items: center; /*Vertically centers items within the header*/
    justify-content: space-between; /*pushes to left and right edges with space between them*/
    padding: 10px 20px; /*Adds space inside the header 10px to top/bot 20px to L/R*/
    background-color: #444;
    border: 2px solid black;
}

/* Logo title INSIDE THE HEADER*/
.logo-title {
    display: flex; /*places logo and title next to eachother*/
    align-items: center; /*aligns them centred vertically*/
    gap: 5px; /*adds a gap between image and title*/
}

/* The actual logo image INSIDE THE HEADER*/
.logo-image { /*sets image size and keeps aspect ratio intact without cropping*/
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.nav-links { /* sets nav links in a row with 20px inbetween*/
    display: flex;
    gap: 20px;
    
}

.nav-links a { /* makes nav links white and removes the underline*/
    color: white;
    text-decoration: none;
}

.nav-links a:hover { /*underline on hover*/
    color: rgb(175, 215, 230);
    text-decoration: underline;
}

.main-content {/*Top bot, right left, padding to main*/
    padding: 30px 40px;
}

.info-section { /*Side by side with space + space betwen and space below*/
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;
}

.single-box { 
    /*light grey flex box with corners, padding and border*/
    display: flex;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 


    justify-content: start; /* places the element at the start / left */
    gap: 40px; /* adds space between sections */
    max-width: 900px; /* set a max width for the entire box, this is for large screens*/
    margin: auto; /* center the box automatically */
    margin-bottom: 40px; /* Add a gap between the single box and image*/
}

.hidden-box {
    display: flex;
    gap: 20px;
    
}

.leftbox { 
    /*light grey flex box with corners, padding and border*/
    width: 25%;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 
    margin-bottom: 40px;
}

.rightbox { 
    /*light grey flex box with corners, padding and border*/
    width: 75%;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.image-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.id-section {
    border:1px solid #333;
}

.caption-center {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
    font-size: 1rem;
    color: #333;
}

.caption-right {
    text-align: right;
    font-size: 0.9rem;
    color: #333;
    margin-top: 4px;
}

.actual-image {
    float: right;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 2px solid #333 ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
}

.grid-item {
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/*This is specific semantic tags inside the grid-item elements*/
.grid-item h3 {
    margin: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #333;
}

.grid-item p {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 5px;
}

.table {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;    
    cursor: default;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 150px 100px;
}

.table-box { 
    /*light grey flex box with corners, padding and border*/
    display: flex;
    background-color: #acacac;
    border: 1px solid black;
    border-radius: 15px;

    padding: 50px;
    justify-content: start; /* places the element at the start / left */
    max-width: 900px; /* set a max width for the entire box, this is for large screens*/
    margin: auto; /* center the box automatically */
    margin-bottom: 40px; /* Add a gap between the single box and image*/
}

/* background transition */
.table tr {
    background-color: rgb(175, 215, 230);
    transition: background-color 0.3s ease;
}

/*all of these are pretty self-explanatory hover and change the row as well as hover and change the text colour*/

.ben-row:hover {
    background-color: #8e43ff;
}

.connor-row:hover {
    background-color: #b9b9ff;

}

.darcy-row:hover {
    background-color: #00bfff;
}

.flynn-row:hover {
    background-color: #572325;
}

.ben-row:hover td {
    color: white;
}

.connor-row:hover td {
    color: black;
}

.darcy-row:hover td {
    color: black;
}

.flynn-row:hover td {
    color: white;
}

.big-text {
    font-size: 3em;
}

/* Connor's Jobs Page */


.jobs-tiles {
    display: grid;
    grid-template-columns: 50% 50%;
}

.jobs-body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.jobs-descriptions { /* this block of code creates the job description tiles: rounded tiles with a 15pt black border that change colour when hovered over */
    background-color: #acacac;
    border: 1px solid black;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0.75%;
    border-radius: 15px;
    transition: background-color 0.15s linear;
}

.jobs-body h2 { /* this makes sure headings are visible and high-contrast */
    color: #444;
}

/* The code below handles the color transition effects when you hover over the job descriptor tiles */

.jobs-descriptions:hover { /* this hover pseudo-class sets the background color to blue when the job description tiles are hovered over, and also ensures the cursor does not change */
    background-color: rgb(25, 120, 175);   
    cursor: default;
}

.jobs-descriptions:hover p, .jobs-descriptions:hover li, .jobs-descriptions:hover h2{  /* these grouped tags set the colour of the text in jobs-descriptions when you hover over them to white */
    color: white;
}

.jobs-descriptions:hover a {
    color: lightskyblue;
}
.jobs-descriptions p, .jobs-descriptions li, .jobs-descriptions h2, .jobs-descriptions a { /* these grouped tags provide the length of the transition from black to white of the text in jobs-descriptions when hovered over */
    transition: color 0.15s linear;
}

.applylink {
    text-align: center;
}

/*home page*/
.home-box{/*creates a section seperated from the white background useful for deviding up page*/
    background-color: #acacac;
    border: 1px solid black;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 15px;
}

.home-container{/*means that the images are on the same line*/
    display: flex;
}

.home-images{/*general class for all the images mostly makes the images look nice in there boxes and make boxes correct size*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    text-decoration: none;/*removes underline that comes from a tag*/
    transition: 0.4s ease;/*adds transition time to 80% opacity*/
}
.home-images:hover{/*increases opacity when hovering over the images allows users to identify they should push button*/ 
    opacity: 80%;
}
.home-images p{/*sets colour and style of text in images*/
    color: #448493;
    font-weight: bold;
    -webkit-text-fill-color: #76e6ff;/*webkit stuff allows for an outline around letter*/ 
    -webkit-text-stroke: 0.5px;
    text-align: center;
}
/*images*/
/*following section defines background images and modifies them*/ 
.home-about{
    background-image: linear-gradient(rgba(165, 165, 165, 0.6), rgba(165, 165, 165, 0.5)), url(images/group.png)/*add opacity for image with out affecting child elelements*/
}


.home-jobs{
    background-image: linear-gradient(rgba(165, 165, 165, 0.6), rgba(165, 165, 165, 0.5)),url(images/home-jobs.jpg);/*Photo by headway on unisplash*/
    background-position: 100%;/*means that the background starts at the bottom of the image so if the box is to small it cuts out top of image rather than bottom*/
}
.home-application{
    background-image: linear-gradient(rgba(165, 165, 165, 0.6), rgba(165, 165, 165, 0.5)),url(images/home-application.jpg);/*Photo by Leon Dewiw on Unsplash*/
    background-position: 100%;
}
/*end home page*/

/*manage page*/
.manage-radio-group {
    display: grid; /* make the class elements display as a grid*/
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 20% 20% 20% 20%;*/
}
/*end manage page*/
      
aside { /*  this aside floats to the right, is set to 25% of the width of the page, and has a consistent colour scheme with the blues and greys of the rest of our website   */
    float: right;
    border: 1px solid grey;
    border-radius: 15pt;
    width: 25%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(175, 215, 230);
}

aside h3 { /* we use a contextual tag here to ensure that the heading is legible within the aside */
    font-size: 24pt;
    color: black;
    text-align: center;
}

.site-footer { /* this footer is 100% of the width of the page, and will appear naturally after all the page's content. This same footer is used on three of the four pages */
    text-align: center;
    padding: 10px;
    background-color: #444;
    border-top: 15px solid black;
    font-size: 10pt;
    width: 100%;
}

.site-footer p, .site-footer a { /* these grouped tags modify only the text within the footer, changing its colour to make it readable */
    color: white;
}